.content {
  overflow-x: hidden;
  padding: 16px 13px;
  font-size: 16px;
  color: #666;
  text-align: justify;
  font-weight: normal;
  line-height: 1.45;
}

.content > * {
  max-width: 100vw !important;
  max-width: calc(100vw - 26px) !important;
}

.content > * * {
  max-width: 100% !important;
}

.content > img[ds-body-img] {
  display: block !important;
  margin: 8px -13px !important;
  width: 100vw !important;
  max-width: 100vw !important;
  height: auto !important;
  object-fit: contain;
  background: #fff;
}

.content > video {
  display: block;
  margin: 8px -13px;
  width: 100vw;
  height: auto;
  max-height: 85vh !important;
  background: #333;
  object-fit: contain;
}

audio {
  width: 100%;
  display: block;
  border: none;
}
img {
  object-fit: contain;
  height: unset !important;
}
